services:
  postgres:
    image: pgvector/pgvector:pg17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: lang
      POSTGRES_PASSWORD: lang
      POSTGRES_DB: langflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U lang -d langflow"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/vector_data
      - ./init/pgvector.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - lang

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - lang

volumes:
  redis-data:
  postgres:

networks:
  lang:
    name: lang
