services:
  ollama:
    image: ollama/ollama:0.13.1
    container_name: ollama
    restart: unless-stopped
    env_file: .env
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    networks:
      - lang
    # NVIDIA GPU PASS
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - driver: nvidia
    #          count: all
    #          capabilities: [gpu]
volumes:
  ollama:

networks:
  lang:
    external: true

