services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:0.6.41
    # NVIDIA GPU PASS
    #image: ghcr.io/open-webui/open-webui:0.6.41-cuda
    restart: always
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    env_file: ".env"
    networks:
      - lang
    # NVIDIA GPU PASS
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - driver: nvidia
    #          count: all
    #          capabilities: [gpu]

volumes:
  open-webui:

networks:
  lang:
    external: true

